@import '../variables';

$height: 2.5em;

.table {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  margin-bottom: $spacing / 2;
  text-decoration: none;
  align-items: center;
}

.image {
  display: block;
  width: $height;
  height: $height;
  margin-right: $spacing / 2;
  border-radius: 50%;
}

.title {
  font-size: .875em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}

.count {
  width: $height;
  text-align: center;
}

.moreItem {
  text-align: center;
}

.moreButton {
  border: 0;
  outline: 0;
  background: transparent;
  color: $blue;
  font-size: .875em;
  font-weight: 500;
}
